@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

  .display-2 {
    font-size: 5.2rem;
  }

  .text-white-80 {
    color: rgba(255,255,255,.8)!important;
}

.h6.text-uppercase, h6.text-uppercase {
    letter-spacing: .08em;
}