

@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-VF.woff2) format('woff2-variations');
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(fonts/Montserrat-Italic-VF.woff2) format('woff2-variations');
  font-style: italic;
  /*    ^ only has weight axis (200–900 range) */
}

@keyframes Looper {
  from {
      font-variation-settings: "wght" 900;
  }
  to {
      font-variation-settings: "wght" 100;
  }
}

.display-2 {
    font-size: 5.2rem;
    font-variation-settings: "wght" 100;
}

  .text-white-80 {
    color: rgba(255,255,255,.8)!important;
}

.h6.text-uppercase, h6.text-uppercase {
    letter-spacing: .08em;
}